// Shadow for the button
@mixin button-shadow($color){
    box-shadow: 1px 1px 3px rgba(darken($color, 60%), 0.2);
}

// Inversion of the shadow for active engaged button
@mixin button-active($color){
    background-color:desaturate(darken($color, 5%), 10%);
    box-shadow: inset 1px 1px 4px darken($color, 30%);
}

@mixin button-decoration($color){
    background-color:$color;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 3px;
    cursor: default;
    color: white;
    border: none;
    outline: none;
    vertical-align: bottom;
}

@mixin button($color){
    @include size-normal;
    @include button-decoration($color);
    @include button-shadow($color);
    display:inline-block
}

button, .button {
    @include button($gray-4)
}

button::-moz-focus-inner{
    border: none;
}

button:active, .button:active {
    @include button-active($gray-4)
}

.button-red { @include button($red) }
.button-red:active { @include button-active($red) }

.button-yellow { @include button($yellow) }
.button-yellow:active { @include button-active($yellow) }

.button-blue { @include button($blue) }
.button-blue:active { @include button-active($blue) }

.button-green { @include button($green) }
.button-green:active { @include button-active($green) }
.button-light-green { @include button($light-green) }
.button-light-green:active { @include button-active($light-green) }
.button-dark-green { @include button($dark-green) }
.button-dark-green:active { @include button-active($dark-green) }

.button-brown { @include button($brown) }
.button-brown:active { @include button-active($brown) }

.button-purple { @include button($purple) }
.button-purple:active { @include button-active($purple) }

.button-mini{ @include size-mini }
.button-small{ @include size-small }
.button-large{ @include size-large }
.button-mega{ @include size-mega }

.button-group {
    font-size: 0;
    button, .button{
        border-radius: 0px;
    }
    > button:first-child, .dropdown:first-child > button, 
    > .button:first-child, .dropdown:first-child > .button {
        border-radius: 3px 0px 0px 3px;
    }
    > button:last-child, .dropdown:last-child > button,
    > .button:last-child, .dropdown:last-child > .button {
        border-radius: 0px 3px 3px 0px;
    }
}

.button-group-mini {
    > button, >.dropdown > button { @include size-mini }
}

.button-group-small {
    > button, >.dropdown > button { @include size-small }
}

.button-group-large {
    > button, >.dropdown > button { @include size-large }
}

.button-group-mega {
    > button, >.dropdown > button { @include size-mega }
}

.button-group-plain{
    > button, >.dropdown > button {
        box-shadow: none;
        background-color: transparent;
        color: $gray-3;
        padding:5px;
        font-weight: normal;
    }

    > button:hover, >.dropdown > button:hover{
        color: $gray-4;
    }

    > .dropdown.active > button {
        color: $gray-4;
        background-color: lighten($gray-5, 10%);
    }

    > .dropdown > button:after {
        content: "";
        padding: 0px;
    }

    > .dropdown > .dropdown-contents {
        margin-top: 0px;
    }
}
