.dropdown {

    display: inline-block;

    button:after{
        content: "\f078";
        padding-left: 10px;
    }

    .dropdown-contents{
        display: none;
        position: absolute;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
        margin-top: 5px;
        background-color: #fff;
    }
}

.dropdown.active {
    > .dropdown-contents {
        display: block;
    }
}
