.form-element {

  input:focus, textarea:focus, select:focus {
    outline:none
  }

  padding-bottom: 10px;

  >label {
    display:block;
    padding-top:5px;
    padding-bottom:5px;
    font-weight: bold;
  }

  >input, >select, textarea {
    border:1px solid $gray-5;
    border-radius: 3px;
    padding:7px;
    width:100%;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 3px rgba(darken($gray-5, 30%), 0.2);
    color:$gray-1;
    font-size: 14px;
    background-color: $white;
  }

  >input[type=checkbox]{
    border:none;
    box-shadow: none;
    width: auto;
  }

  >span {
    font-size: small;
    color: $gray-3;
    display:block;
  }

  textarea {
    height:80px;
  }

  .check-group {
    label {
      display: block;
    }
  }

  > select {
    width: auto;
    max-width: 100%;
  }

  ul{
    margin:0px;
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom:5px;
    padding-left:30px;
    color:$gray-1;
  }
}

.form-submit-area {
  padding-top:10px;
  input[type=submit]{
    @include button($blue)
  }  
}

.form-grid {
  .form-element{
    white-space: nowrap;
    font-size: 0;
    label {
      display:inline-block;
      width:30%;
      box-sizing: border-box;
      font-size: initial;
      text-align: right;
      padding-right:10px;
      margin-top:10px;
      vertical-align: top
    }
    >input, >select, textarea, .check-group, .input-wrapper {
      width:70%;
      display:inline-block;
      box-sizing: border-box;
      font-size: initial;
      margin-top:10px;
    }
    >input[type=checkbox] {
      width:initial;
      margin-top:20px;
    }

    > select {
      width: auto;
      max-width: 70%;
    }

    span {
      margin-left: 30%;
      font-size:small;
      white-space: normal;
    }

    ul{
      margin-left: 30%;
      white-space: normal;
      font-size: initial;
      li{
        font-size: 0.9em;
      }
    }

    .check-group {
      label{
        display: block;
        width: auto;
        text-align: left;
      }
    }
  }
  .form-submit-area {
    padding-top:10px;
    margin-left: 30%;
  }
}

@mixin marked-element($color) {
  input, select{
    border-color: $color;
    box-shadow: inset 1px 1px 3px rgba(darken($color, 60%), 0.2);
    background-color: lighten($color, 50%);
    color: darken($color,50)
  }
  label, ul {
    color: darken($color,50)
  }
}

.form-error{ 
  @include marked-element($light-red)
}
.form-warning{ 
  @include marked-element($light-yellow)
}
.form-success{ 
  @include marked-element($light-green)
}

fieldset {
  border:1px solid $gray-5;
  border-radius: 3px;
  padding:10px;
  padding-top:50px;
  position:relative;
  margin-top:10px;

  legend {
    font-weight: bold;
    font-size: initial;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    color:$gray-2;
    border-bottom: 1px dotted $gray-5;
    padding:10px;
    box-sizing: border-box;
  }
}
