ul.tabs{
    list-style: none;
    margin:0px;
    padding:0px;
    border-bottom: solid 1px $gray-5;

    li {
        a{
            color: $gray-3;
        }
        display:inline-block;
        margin-bottom: -1px;
    }

    li.active {
        border: solid 1px $gray-5;
        border-bottom: solid 1px $white;
        background-color:$white;
        border-radius: 3px 3px 0px 0px;
    }
}

ul.pills{
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
        color:$white;
        @include button-decoration($blue);
        a{
            color:$white
        }
    }

    li.active, li.active:hover{
        @include button-decoration($dark-blue)
    }

    li:hover {
        @include button-decoration($light-blue)
    }
}

ul.nav{
    list-style: none;
    li{
        a {
            @include size-normal;
            text-decoration: none;
            display:block;
            font-weight: bold;
        }
    }
}

div.nav-panel{
    display:none;
    padding:10px;
}

div.nav-panel:target{
    display: block;
}

ul.nav-mini{ li{ a{ @include size-mini }}}
ul.nav-small{ li{ a{ @include size-small }}}
ul.nav-normal{ li{ a{ @include size-normal }}}
ul.nav-large{ li{ a{ @include size-large }}}
ul.nav-mega{ li{ a{ @include size-mega }}}
