ul.tabs{
    list-style: none;
    margin:0px;
    padding:0px;
    border-bottom: solid 1px $gray-5;

    li {
        display:inline-block;
        margin-bottom: -1px;
        font-weight: bold;
        a {
            @include size-normal;
            text-decoration: none;
            display:block;
            color: $gray-3;
        }
    }

    li.active {
        border: solid 1px $gray-5;
        border-bottom: solid 1px $white;
        background-color:$white;
        border-radius: 3px 3px 0px 0px;
    }
}

div.tab{
    display:none;
    padding:10px;
}

div.tab:target{
    display: block;
}
