.red {
  color: #fc4e4e; }

.light-red {
  color: #feb2b2; }

.dark-red {
  color: #e00404; }

.red-bg {
  background-color: #fc4e4e; }

.light-red-bg {
  background-color: #feb2b2; }

.dark-red-bg {
  background-color: #e00404; }

.blue {
  color: #21add3; }

.light-blue {
  color: #71cfe9; }

.dark-blue {
  color: #13657b; }

.blue-bg {
  background-color: #21add3; }

.light-blue-bg {
  background-color: #71cfe9; }

.dark-blue-bg {
  background-color: #13657b; }

.yellow {
  color: #fad250; }

.light-yellow {
  color: #fdecb3; }

.dark-yellow {
  color: #deab06; }

.yellow-bg {
  background-color: #fad250; }

.light-yellow-bg {
  background-color: #fdecb3; }

.dark-yellow-bg {
  background-color: #deab06; }

.green {
  color: #3bbf7e; }

.light-green {
  color: #86dab1; }

.dark-green {
  color: #23714b; }

.green-bg {
  background-color: #3bbf7e; }

.light-green-bg {
  background-color: #86dab1; }

.dark-green-bg {
  background-color: #23714b; }

.purple {
  color: #c36ad1; }

.light-purple {
  color: #e2b8e9; }

.dark-purple {
  color: #9332a3; }

.purple-bg {
  background-color: #c36ad1; }

.light-purple-bg {
  background-color: #e2b8e9; }

.dark-purple-bg {
  background-color: #9332a3; }

.brown {
  color: #d06f06; }

.light-brown {
  color: #faa242; }

.dark-brown {
  color: #6d3a03; }

.brown-bg {
  background-color: #d06f06; }

.light-brown-bg {
  background-color: #faa242; }

.dark-brown-bg {
  background-color: #6d3a03; }
