<h2>Button Groups</h2>
<div class="section">
    <div class="half">
        <div class='button-group'>
            <button>First</button>
            <button>Second</button>
            <button>Third</button>
            <div class='dropdown'>
                <button>Nested</button>
                <ul class='dropdown-contents menu'>
                    <li>Test</li>
                    <li>Another Test</li>
                    <li>Let's go!</li>
                </ul>
            </div>
        </div>

        <br/>

        <div class='button-group'>
            <a class='button-green'>First Link</a>
            <a class='button'>Second Link</a>
            <a class="button">Third Link</a>
            <div class='dropdown'>
                <button>Nested</button>
                <ul class='dropdown-contents dropdown-right menu'>
                    <li>Test</li>
                    <li>Another Test</li>
                    <li>Let's go!</li>
                    <li>Another right aligned</li>
                </ul>
            </div>
        </div>
        
    </div>

    <div class="half">
        <h3>Sizes</h3>
        <div class='button-group button-group-mini'>
            <button>Mini</button>
            <button>First</button>
            <button>Second</button>
            <button>Third</button>
            <button>Fourth</button>
        </div><br/>

        <div class='button-group button-group-small'>
            <button>Small</button>
            <button>First</button>
            <button>Second</button>
            <button>Third</button>
            <button>Fourth</button>
        </div><br/>

        <div class='button-group'>
            <button>Normal</button>
            <button>First</button>
            <button>Second</button>
            <button>Third</button>
            <button>Fourth</button>
        </div><br/>

        <div class='button-group button-group-large'>
            <button>Large</button>
            <button>First</button>
            <button>Second</button>
            <button>Third</button>
            <button>Fourth</button>
        </div><br/>

        <div class='button-group button-group-mega'>
            <button>Mega</button>
            <button>First</button>
            <button>Second</button>
            <button>Third</button>
            <button>Fourth</button>
        </div>
    </div>
</div>
