<h2>Buttons</h2>
<div class="section">
    <div class="half">
        <h3>Colours</h3>
        <button>Default</button>
        <button class='button-red'>Red</button>
        <button class='button-yellow'>Yellow</button>
        <button class='button-blue'>Blue</button>
        <button class='button-green'>Green</button>
        <button class='button-brown'>Brown</button>
        <button class='button-purple'>Purple</button>
    </div>

    <div class="half">
        <h3>Outlines</h3>
        <button class='button-outline'>Default</button>
        <button class='button-red button-outline'>Red</button>
        <button class='button-yellow button-outline'>Yellow</button>
        <button class='button-blue button-outline'>Blue</button>
        <button class='button-green button-outline'>Green</button>
        <button class='button-brown button-outline'>Brown</button>
        <button class='button-purple button-outline'>Purple</button>
    </div>

    <div class="half">
        <h3>Sizes</h3>
        <button class='button-blue button-mini'>Mini</button>
        <button class='button-blue button-small'>Small</button>
        <button class='button-blue'>Default</button>
        <button class='button-blue button-large'>Large</button>
        <button class='button-blue button-mega'>Mega</button>
    </div>

    <div class="half">
        <h3>Outlines Sizes</h3>
        <button class='button-blue button-outline button-mini'>Mini</button>
        <button class='button-blue button-outline button-small'>Small</button>
        <button class='button-blue button-outline '>Default</button>
        <button class='button-blue button-outline button-large'>Large</button>
        <button class='button-blue button-outline button-mega'>Mega</button>
    </div>            
</div>
