<h2>Dropdown</h2>
<div class="dropdown">
    <button>Dropdown</button>
    <div class="dropdown-contents">
        Hello!
    </div>
</div>

<div class="dropdown">
    <button class="button-red" >Red</button>
    <ul class="dropdown-contents menu">
        <li>Some Item</li>
        <li>Another Item</li>
    </li>
</div>

<div class="dropdown">
    <button class="button-purple" >Purple</button>
    <ul class="dropdown-contents dropdown-right menu">
        <li>Some Item</li>
        <li>Another Item</li>
        <li>Item should align to right"
    </li>
</div>

<div class="dropdown">
    <div class="clickable"> Clickable DIV</div>
    <div class="dropdown-contents">
        <p>This is supposed to be a padded dropdown.</p>
    </div>
</div>
