<h2>Modals</h2>
<button onclick='fzui.modals.open("#modal-test")'>Show Modal</button>
<div class="modal" id="modal-test" style="padding:20px">
    <center> This is expected to contain some modal content.</center>
    <center><p><button onclick="fzui.modals.open('#modal-test-1')">Show Another Modal</button></p></center>
</div>

<button onclick='fzui.modals.open("#modal-test-1")'>Show Modal</button>
<div class="modal" style="width:300px;padding:30px" id="modal-test-1">
    This is expected to contain some modal content with a title.
</div>

