<h2>Notifications</h2>
<div class="notification" id="plain-notification">
    This is a test notification
</div>
<button onclick="fzui.notifications.show('#plain-notification')">Show a Notification</button>
<input type="text" id="notification-text" value="Hello World!"/> 
<button onclick="fzui.notifications.showText(document.getElementById('notification-text').value)"> 
    Show notification with text
</button>