<h2>Tabs and Pills</h2>
<div class="section">
    <div class="half">
        <ul class="tabs nav nav-small">
            <li class="active"><a href='#one' onclick='return false'>One</a></li>
            <li><a href='#two' onclick='return false'>Two</a></li>
            <li><a href='#three' onclick='return false'>Three</a></li>
        </ul>
        <div class="nav-panel" id="one">
            Contents of tab #1
        </div>
        <div class="nav-panel" id="two">
            Contents of tab #2
        </div>
        <div class="nav-panel" id="three">
            Contents of tab #3
        </div>
    </div>

    <div class="half">
        <ul class="pills pills-vertical nav">
            <li class="active"><a href='#' onclick='return false'>One</a></li>
            <li><a href='#' onclick='return false'>Two</a></li>
            <li><a href='#' onclick='return false'>Three</a></li>
        </ul>
    </div>
</div>
